*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0A0A0A;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}


body {
    line-height: 1;
}
a:hover{
    color: green;
}
a:focus {
    color: rgba(0, 17, 128, 0.8);
}

::-webkit-scrollbar {
    background: #f5f5f5;
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: rgba(27, 37, 41, 0.48);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .25) 50%,
    rgba(255, 255, 255, .25) 75%,
    transparent 75%,
    transparent);
    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.header_content{
    background: #FAFAFA;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}
.header-nav {
    width: 100%;
}

.header-nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

.header-nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.header-nav ul li:hover {
    background: rgba(0, 0, 0, .15);
}

.header-nav ul li:hover > ul {
    display: block;
}

.header-nav ul li a {
    display: block;
    padding: 30px 20px;
    letter-spacing: 1px;
}

.header-nav ul ul {
    display: none;
    background: #fafafa99;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

.header-nav ul ul li {
    float: none;
    position: relative;
}

.header-nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.t-white {
    color: white;
}

.menu_list {
    column-gap: 32px;
    row-gap: 15px;
}

.menu_item {
    font-size: 16px;
    line-height: 24px;
}

.btn {
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    transition: background-color 0.7s;
}

.btn:hover {
    cursor: pointer;
}

.main_btn {
    float: right;
    margin: 15px 15px;
    font-size: 12px;
    padding: 15px 32px;
    background: #0A0A0A;
    border-radius: 32px;
    color: #FAF9F7;
}

.main_btn:hover {
    color: #0A0A0A;
    background: #C6F572;
}

.page {
    flex: 1 1 auto;
}

.scale {
    padding: 80px 20px ;
}

.items-scale {
    column-gap: 38px;
    justify-content: center;
}

.item-scale-1 {
    align-items: center;
}

.main-title-scale {
    font-size: 142px;
    line-height: 160px;
    padding-top: 34px;
    text-align: center;
}

.scale-content {
    flex-flow: column wrap;
    align-items: center;
}
.scale-text {
    max-width: 453px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
   padding: 65px 0;
}

.scale-btn {
    padding: 15px 64px;
    background: #C6F572;
    border-radius: 40px;
    font-size: 12px;
    line-height: 14px;
}

.scale-btn:hover {
    color: #C6F572;
    background: #0A0A0A;
}

.growing {
   padding: 90px 0;
    background: #0A0A0A;
    transition: background-color 0.3s;
}
.growing:hover{
    background: #151515;
}

.growing-title {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FAF9F7;
    padding-bottom: 33px;
}

.growing-text {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #504F4F;
}

.item-instant-1 {
    padding-left: 60px;
    flex: 1 0 60%;
    align-items: center;
}

.item-instant-2 {
    flex: 1 0 40%;
    padding: 60px 60px 0;
    background: #FAF9F7;
    flex-flow: column wrap;
}

.instant-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 80px;
    max-width: 350px;
}

.instant-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    max-width: 322px;
    padding-bottom: 40px;
}

.instant-text-img {
    font-size: 12px;
    line-height: 16px;
    color: #504F4F;
}

.instant-text-img:hover{
    transform: scale(1.1);
}
.instant-img {
    max-width: 316px;
    height: 249px;
    padding: 15px 25px;
    border-radius: 12px;
    background-image: url("../img/instant/02.jpg");
    background-size: cover;
}

.pricing {
    padding: 90px 20px;
    background: #FBF19B;
    transition: background-color 0.3s;
}
.pricing:hover{
    background: #f2e468;
}
.pricing-content {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.pricing-title {
    font-size: 57px;
    line-height: 64px;
    text-align: center;
    padding-bottom: 43px;
}

.pricing-text {
    line-height: 24px;
    max-width: 478px;
}

.no-tiers {
   padding: 90px 20px;
    background: #D4F2F9;
    transition: background-color 0.5s;
}
.no-tiers:hover{
    background: #b3dee8;
}

.no-tiers-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding: 0 20px 30px 20px;
}

.no-tiers-text {
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
}

.most-team {
   padding: 100px 20px 60px 20px;
    background: #0A0A0A;
}

.most-team-content {
    flex-direction: column;
    align-items: center;
}

.most-team-title {
    font-size: 60px;
    line-height: 64px;
    color: #FAF9F7;
    max-width: 907px;
    padding-bottom: 96px;
}

.most-icon {
    padding-top: 25px;
}

.most-team-items {
    column-gap: 12px;
    row-gap: 12px;
}

.most-team-block-1 {
    background: #F4D2DC;
    border-radius: 12px;

}

.most-team-item-1-content,
.most-team-item-2-content,
.most-team-item-3-content {
    padding: 70px;
}

.most-team-item-1-content,
.most-team-item-2-content,
.most-team-item-3-content:hover {
    cursor: pointer;
}

.most-content-title {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 40px;
}

.most-content-text {
    font-size: 14px;
    line-height: 22px;
}

.most-team-block-2 {
    background: #FBF19B;
    border-radius: 12px;
}

.most-team-block-3 {
    background: #DBFAA8;
    border-radius: 12px;
}

.scale-form {
    padding-top: 115px;
    padding-bottom: 130px;
    background: #0A0A0A;
}

.scale-form-content {
    padding: 95px;
    max-width: 800px;
    background: #FBF19B;
    border-radius: 24px;
}

.scale-form-title {
    font-size: 48px;
    line-height: 53px;
    padding-bottom: 28px;
}
.scale-form-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 434px;
}

.scale-text {
    font-size: 16px;
    line-height: 24px;
}

.scale-form-main {
    padding-top: 50px;
    flex-flow: column wrap;
    row-gap: 45px;
}

.scale-input {
    padding: 15px;
}
.agree{
    padding: 0 15px;
    column-gap: 15px;
}
.agree a:hover{
    color: green;
}
.footer {
    padding: 90px 25px 25px;
    background: #DBFAA8;
}

.footer-icons {
    justify-content: flex-end;
    column-gap: 12px;
    padding-bottom: 13px;
    border-bottom: solid 1px #0A0A0A;
}

.footer-nav {
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .container {
        max-width: 980px;
    }

    .main-title-scale {
        font-size: 102px;
        line-height: 80px;
        padding-top: 25px;
    }

    .instant-title {
        padding-bottom: 50px;
    }

    .instant-text-img {
        max-width: 270px;
    }

    .pricing, .no-tiers {
        padding: 70px 0;
    }

    .scale-form-content {
        padding: 60px;
        max-width: 600px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 800px;
        margin: auto;
    }

    .main-title-scale {
        font-size: 80px;
        line-height: 60px;
        padding-top: 19px;
    }

    .scale-form-content {
        padding: 60px;
    }

    .scale-form {
        padding-bottom: 30px;
    }

    .scale-form-main {
        padding-top: 30px;
    }

    .footer {
        padding: 35px 25px 25px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: auto;
    }

    .scale {
        padding: 30px 20px;
    }
    .main-title-scale {
        font-size: 60px;
        line-height: 54px;
        padding-top: 12px;
    }
    .scale-text{
        padding: 25px 0;
    }
    .header_content .main_btn{
        display:none;
    }
    .growing{
        padding: 40px 0;
    }
    .item-instant-1{
        padding-left:0;
    }
    .instant-answers {
        padding-top: 60px;
    }
    .instant-title {
        font-size: 38px;
    }

    .items-instant {
        flex-flow: row wrap;
    }

    .pricing, .no-tiers {
        padding: 50px 0;
    }
    .pricing-title {
        font-size: 47px;
        padding-bottom: 13px;
    }
    .most-team {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .most-team-title {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 30px;
    }

    .most-team-content {
        padding: 15px 30px 30px;
    }

    .most-team-item-1-content,
    .most-team-item-2-content,
    .most-team-item-3-content {
        padding: 20px;
    }

    .most-team-items {
        flex-flow: row wrap;
        row-gap: 20px;
    }

    .most-content-title {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 20px;
    }

    .most-team {
        padding-bottom: 30px;
    }

    .scale-form {
        padding-bottom: 0;
        padding-top: 10px;
    }

    .scale-form-content {
        padding: 40px;
        max-width: 600px;
    }

    .scale-form-content {
        border-radius: 0;
    }

    .scale-form-main {
        padding-top: 15px;
        row-gap: 25px;
    }

    .footer {
        padding: 25px;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 280px;
        margin: auto;
    }
    .header-nav ul li a{
        padding: 5px 10px;
    }
    .header-nav .menu_item{
        font-size: 14px;
    }
    .main-title-scale {
        font-size: 30px;
        line-height: 10px;
        padding-top: 12px;
    }

    .instant-answers {
        padding-top: 20px;
    }

    .items-instant {
        flex-flow: row wrap;
    }

    .item-instant-2 {
        padding: 15px;
    }

    .pricing, .no-tiers {
        padding: 20px 0;
    }

    .most-team {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .most-team-title {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 15px;
    }

    .most-team-content {
        padding: 5px 15px 15px;
    }

    .most-team-item-1-content,
    .most-team-item-2-content,
    .most-team-item-3-content {
        padding: 15px;
    }

    .most-team-items {
        flex-flow: row wrap;
        row-gap: 10px;
    }

    .most-content-title {
        font-size: 15px;
        line-height: 12px;
        padding-bottom: 10px;
    }

    .most-team {
        padding-bottom: 10px;
    }
    .scale-form-title {
        font-size: 28px;
        line-height: 33px;
        padding-bottom: 18px;
    }

    .scale-form-content {
        padding: 20px;
        max-width: 350px;
    }

    .scale-form-main {
        padding-top: 5px;
        row-gap: 15px;
    }

    .footer {
        padding: 15px;
    }
}